openapi: 3.0.0
info:
  title: Qoodish API
  description: |
    Qoodih API.
  version: 0.0.1
tags:
  - name: Users
    description: Manage user resources.
  - name: Push Notification
    description: Enable/Disable push notification.
  - name: Devices
    description: Manage User Devices
  - name: Maps
    description: Manage maps.
  - name: User Maps
    description: Manage user maps.
servers:
  - url: https://api.qoodish.com
security:
  - firebaseAuth: []
paths:
  /users:
    post:
      tags:
        - Users
      summary: Sign in
      description: Sign in and get profile of current user.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewUser"
        required: true
      responses:
        200:
          description: Request was successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentUser"
        400:
          description: Invalid parameter specified.
        401:
          description: Authentication has failed.
    get:
      tags:
        - Users
      summary: Search users
      description: Search users with input text.
      parameters:
        - name: input
          in: query
          schema:
            type: string
          description: Search users with user name.
          example: username
      responses:
        200:
          description: Request was successful.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CurrentUser"
        400:
          description: Invalid parameter specified.
        401:
          description: Authentication has failed.
  /users/{user_id}:
    get:
      tags:
        - Users
      summary: Get user profile
      description: Get profile of target user.
      parameters:
        - name: user_id
          in: path
          required: true
          description: A valid User ID.
          example: 1
          schema:
            type: integer
      responses:
        200:
          description: Request was successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentUser"
        401:
          description: Authentication has failed.
        404:
          description: Invalid parameter specified.
    put:
      tags:
        - Users
      summary: Update user profile
      description: Update user profile.
      parameters:
        - name: user_id
          in: path
          required: true
          description: A valid User ID.
          example: 1
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewUser"
        required: true
      responses:
        200:
          description: Request was successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentUser"
        400:
          description: Invalid parameter specified.
        401:
          description: Authentication has failed.
        404:
          description: Resource not found.
    delete:
      tags:
        - Users
      summary: Delete user account
      description: Delete user account.
      parameters:
        - name: user_id
          in: path
          required: true
          description: A valid User ID.
          example: 1
          schema:
            type: integer
      responses:
        204:
          description: Request was successful.
        400:
          description: Invalid parameter specified.
        401:
          description: Authentication has failed.
        404:
          description: Resource not found.
  /users/{user_id}/push_notification:
    post:
      tags:
        - Push Notification
      summary: Enable push notification
      description: Enable push notification.
      parameters:
        - name: user_id
          in: path
          required: true
          description: A valid User ID.
          example: 1
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                registration_token:
                  type: string
                  example: 12345abcdef
        required: true
      responses:
        200:
          description: Request was successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentUser"
        400:
          description: Invalid parameter specified.
        401:
          description: Authentication has failed.
    delete:
      tags:
        - Push Notification
      summary: Disable push notification
      description: Disable push notification.
      parameters:
        - name: user_id
          in: path
          required: true
          description: A valid User ID.
          example: 1
          schema:
            type: integer
      responses:
        200:
          description: Request was successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentUser"
        400:
          description: Invalid parameter specified.
        401:
          description: Authentication has failed.
  /devices:
    post:
      tags:
        - Devices
      summary: Register device
      description: Register device with registration token.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                registration_token:
                  type: string
                  example: 12345abcdef
        required: true
      responses:
        204:
          description: Request was successful.
        400:
          description: Invalid parameter specified.
        401:
          description: Authentication has failed.
  /devices/{registration_token}:
    delete:
      tags:
        - Devices
      summary: Delete device
      description: Delete device with registration token.
      parameters:
        - name: registration_token
          in: path
          required: true
          description: A valid registration token.
          example: 12345abcdef
          schema:
            type: string
      responses:
        204:
          description: Request was successful.
        401:
          description: Authentication has failed.
        404:
          description: Resource not found.
  /maps:
    post:
      tags:
        - Maps
      summary: Create a new Map
      description: |
        Create a new Map.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewMap"
        required: true
      responses:
        200:
          description: Request was successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MapDetail"
        400:
          description: Invalid parameter specified.
        401:
          description: Authentication has failed.
    get:
      tags:
        - Maps
      summary: List Maps
      description: |
        List Maps.
      parameters:
        - name: active
          in: query
          schema:
            type: boolean
          description: Filter active maps with this option.
          example: true
        - name: recent
          in: query
          schema:
            type: boolean
          description: Filter recent maps with this option.
          example: true
        - name: popular
          in: query
          schema:
            type: boolean
          description: Filter popular maps with this option.
          example: true
        - name: postable
          in: query
          schema:
            type: boolean
          description: Filter postable maps with this option.
          example: true
        - name: input
          in: query
          schema:
            type: string
          description: Search maps with map name.
          example: mapnametext
      responses:
        200:
          description: Request was successful.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MapDetail"
        401:
          description: Authentication has failed.
  /maps/{map_id}:
    put:
      tags:
        - Maps
      summary: Update a Map
      description: |
        Update a new Map.
      parameters:
        - name: map_id
          in: path
          required: true
          description: A valid Map ID.
          example: 1
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewMap"
        required: true
      responses:
        200:
          description: Request was successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MapDetail"
        400:
          description: Invalid parameter specified.
        401:
          description: Authentication has failed.
        404:
          description: Resource not found.
    delete:
      tags:
        - Maps
      summary: Delete a Map
      description: |
        Delete a Map.
      parameters:
        - name: map_id
          in: path
          required: true
          description: A valid Map ID.
          example: 1
          schema:
            type: integer
      responses:
        200:
          description: Request was successful.
        400:
          description: Invalid parameter specified.
        401:
          description: Authentication has failed.
        404:
          description: Resource not found.
    get:
      tags:
        - Maps
      summary: Get Map detail
      description: |
        Get Map detail.
      parameters:
        - name: map_id
          in: path
          required: true
          description: A valid Map ID.
          example: 1
          schema:
            type: integer
      responses:
        200:
          description: Request was successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MapDetail"
        401:
          description: Authentication has failed.
        404:
          description: Resource not found.
  /users/{user_id}/maps:
    get:
      tags:
        - User Maps
      summary: Fetch user Maps
      description: |
        Fetch user created Maps.
      parameters:
        - name: user_id
          in: path
          required: true
          description: A valid User ID.
          example: 1
          schema:
            type: integer
        - name: following
          in: query
          schema:
            type: boolean
          description: Filter following maps with this option.
          example: true
      responses:
        200:
          description: Request was successful.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MapDetail"
        401:
          description: Authentication has failed.
        404:
          description: Resource not found.
components:
  securitySchemes:
    firebaseAuth:
      type: apiKey
      name: Authorization
      in: header
      description: |
        A valid id token of firebase user.
  schemas:
    NewUser:
      type: object
      description: User info from firebase.
      properties:
        uid:
          type: string
          example: AbcalmIsABCo5oTKD38RFABCnhL1
        token:
          type: string
          example: 123456789abcdefg
        display_name:
          type: string
          example: My name
        biography:
          type: string
          example: My biography
        image_url:
          type: string
          example: https://s3-ap-northeast-1.amazonaws.com/qoodish/substitute.png
    CurrentUser:
      type: object
      description: Current user object from server
      properties:
        id:
          type: integer
          example: 1
        uid:
          type: string
          example: AbcalmIsABCo5oTKD38RFABCnhL1
        email:
          type: string
          example: example@qoodish.com
        name:
          type: string
          example: My name
        biography:
          type: string
          example: My biography
        image_url:
          type: string
          example: https://s3-ap-northeast-1.amazonaws.com/qoodish/substitute.png
        thumbnail_url:
          type: string
          example: https://s3-ap-northeast-1.amazonaws.com/qoodish/substitute.png
        file_name:
          type: string
          example: filename
        maps_count:
          type: integer
          example: 10
        following_maps_count:
          type: integer
          example: 10
        reviews_count:
          type: integer
          example: 10
        likes_count:
          type: integer
          example: 10
        push_enabled:
          type: boolean
          example: true
    NewMap:
      type: object
      description: User created Map object.
      properties:
        name:
          type: string
          example: My map
        description:
          type: string
          example: This is description.
        base_id:
          type: string
          example: ChIJl4BYvuq3t4kRfUzigrEUfUo
        base_name:
          type: string
          example: This is map base name
        private:
          type: boolean
          example: false
        invitable:
          type: boolean
          example: true
        shared:
          type: boolean
          example: true
    MapDetail:
      type: object
      description: User created Map object.
      properties:
        id:
          type: integer
          example: 1
        owner_id:
          type: integer
          example: 1
        owner_name:
          type: string
          example: this is owner name
        owner_image_url:
          type: string
          example: https://owner-thumbnail-url
        name:
          type: string
          example: My map
        description:
          type: string
          example: This is description.
        private:
          type: boolean
          example: false
        base:
          type: object
          properties:
            place_id:
              type: string
              example: ChIJl4BYvuq3t4kRfUzigrEUfUo
            name:
              type: string
              example: place name
            lat:
              type: string
              example: 35.7210375
            lng:
              type: string
              example: "139.711489"
        liked:
          type: boolean
          example: true
        likes_count:
          type: integer
          example: 2
        following:
          type: boolean
          example: true
        followers_count:
          type: integer
          example: 10
        editable:
          type: boolean
          example: true
        postable:
          type: boolean
          example: true
        shared:
          type: boolean
          example: true
        invitable:
          type: boolean
          example: true
        image_url:
          type: string
          example: https://s3-ap-northeast-1.amazonaws.com/qoodish/substitute.png
        thumbnail_url:
          type: string
          example: https://s3-ap-northeast-1.amazonaws.com/qoodish/substitute.png
        created_at:
          type: string
          example: "2019-02-19T08:19:32.000Z"
        updated_at:
          type: string
          example: "2019-02-19T08:19:32.000Z"
